Flask==3.1.2
flask-cors==6.0.2
spacy==3.8.11
transformers==4.35.2
tensorflow==2.15.1
SpeechRecognition==3.14.5
translate==3.8.0
langdetect==1.0.9
pydub==0.25.1
google-api-python-client==2.188.0
googletrans==4.0.0rc1
httpx==0.13.3
httpcore==0.9.1
praw==7.8.1
scikit-learn==1.8.0
openai-clip==1.0.1
torch==2.10.0
torchvision==0.25.0
Pillow==12.1.0
